@font-face {
    font-family: TF Saeada;
    src: url(/workspaces/LinHub_Final_Project/src/front/fonts/LTSaeada-Regular.otf);
    font-style: normal;
    font-weight: normal;
}

*{
    font-family: TF Saeada, sans-serif;
}

.logo{
    height: 50px;
}

#boton-hero{
    position: relative;
    background-color: #C93AFC;
    color:white !important;
    transition: all 0.3s;
}

#boton-hero:hover{
    position: relative;
    background-color: #b534e4;
    color: rgb(255, 255, 255) !important;
    transition: all 0.3s;
}

#boton-hero2{
    position: relative;
    transition: all 0.3s;
}

#boton-hero2:hover{
    position: relative;
    background-color: #ececec;
    color: rgb(253, 253, 253) !important;
    transition: all 0.3s;
}


#boton-hero::after{
    content: '';
    padding: 0;
    position: absolute;
    width: 100%;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    bottom: 0;
    display: block;
    height: 8px;
    background-color: #7E0FA5;
}

#boton-hero:hover::after{
    background-color: #6e007c;
    transition: all 0.3s;
}

#boton-hero2::after{
    content: '';
    padding: 0;
    position: absolute;
    width: 100%;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    bottom: 0;
    display: block;
    height: 8px;
    background-color: #c7cacf;
}

#boton-hero2:hover::after{
    background-color: #b8b8b8;
    transition: all 0.3s;
}

.border-linear-gradient {
    border-style: solid;
    border-image: linear-gradient(to right, darkblue, darkorchid) 1;
  }

.bg-transparency-1{
    opacity: .8;
    transition: all 0.3s;
}

.bg-transparency-2{
    opacity: .6;
    transition: all 0.3s;
}

.bg-transparency-0{
    opacity: 1;
    transition: all 0.3s;
}

.shadow{
    box-shadow: 15px 15px 20px rgb(138, 138, 138);
}

.shadow-2{
    box-shadow: 0px 20px 20px rgb(138, 138, 138);
}

.illustration{
    align-self: center;
    margin: 0 10px
}

.contact-button{
    opacity: .8;
    transition: all 0.3s;
}

.person-wrapper:hover > .contact-button{
    opacity: 1;
    transition: all 0.3s;
}
/*CSS del Register */
#form1{
    width: 550px;
   
}
#pingui-form{
    width: 150px;
    transform: rotate(20deg);
    align-self:end
}
/* 
#Group_13{
    transform: translate(19px);
    animation: moveEyes 1s 2s both
}

@keyframes moveEyes{
    100%{
        transform:unset
    }
} */

/*login styles*/
.login-wrapper {
    box-shadow: 1px 1px 10px black !important;
}