@font-face {
    font-family: TF Saeada;
    src: url(/workspaces/LinHub_Final_Project/src/front/fonts/LTSaeada-Regular.otf);
    font-style: normal;
    font-weight: normal;
}

*{
    font-family: TF Saeada, sans-serif;
}

.logo{
    height: 50px;
}

#boton-hero{
    position: relative;
}
#boton-hero2{
    position: relative;
}

#boton-hero::after{
    content: '';
    padding: 0;
    position: absolute;
    width: 100%;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    bottom: 0;
    display: block;
    height: 8px;
    background-color: #7E0FA5;
}

#boton-hero2::after{
    content: '';
    padding: 0;
    position: absolute;
    width: 100%;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    bottom: 0;
    display: block;
    height: 8px;
    background-color: #c7cacf;
}

.border-linear-gradient {
    border-style: solid;
    border-image: linear-gradient(to right, darkblue, darkorchid) 1;
  }

.bg-transparency-1{
    opacity: .8 !important;
}

.bg-transparency-2{
    opacity: .6 !important;
}

.bg-transparency-0{
    opacity: 1 !important;
}

.shadow{
    box-shadow: 10px 5px 5px black;
}

.illustration{
    align-self: center;
    margin: 0 10px
}

#Group_13{
    transform: translate(19px);
    animation: moveEyes 1s 2s both
}

@keyframes moveEyes{
    100%{
        transform:unset
    }
}